body {
background-color: black;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
}

img {
    pointer-events: none;
}

.console {
display: flex;
justify-content: center;
align-items: center;
max-width: 100vw;
max-height: 100vh;
overflow: hidden;
position: relative;
}

.console img {
max-width: 80%;
max-height: 80%;
object-fit: contain;
}

.console-button {
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(43, 223, 70, 0.163);
border: none;
cursor: pointer;
top: 0;
left: 0;
transition: all 0.4s ease-in-out;
}

.console-button:hover {
  transform: scale(1);
  opacity: 0.5;
  filter: brightness(1);
  background-color: rgba(43, 223, 91, 0.774);
}

.início {
position: absolute;
color: rgb(37, 255, 95);
background-color: transparent;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 25px;
width: 40px;
height: 40px;
bottom: 0;
right: 200px;
border: none;
cursor: pointer;
}

.voltar {
position: absolute;
color: rgb(37, 255, 95);
background-color: transparent;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 25px;
width: 40px;
height: 40px;
bottom: 0;
left: 160px;
border: none;
cursor: pointer;
}

.prev {
position: absolute;
top: 730px;
bottom: 20px;
left: 50%;
transform: translateX(-60px);
width: 40px;
height: 40px;
background-color: transparent;
color: rgb(37, 255, 95);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 25px;
border: none;
cursor: pointer;
}

.next {
position: absolute;
top: 730px;
bottom: 20px;
left: 50%;
transform: translateX(19px);
width: 40px;
height: 40px;
background-color: transparent;
color: rgb(37, 255, 95);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 25px;
border: none;
cursor: pointer;
}

.info {
position: absolute;
top: 740px;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
color: rgb(37, 255, 95);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 25px;
margin: 0;
}

/* INICIO */
.joseph-bianchi {
position: absolute;
width: 151px;
height: 20px;
top: 264px;
left: 723px;
}

.credenciais {
position: absolute;
width: 123px;
height: 20px;
top: 312px;
left: 367.5px;
}

.pesquisador-alfa {
position: absolute;
width: 240px;
height: 21px;
top: 335px;
left: 472px;
}

.pkia3 {
position: absolute;
width: 56px;
height: 20.5px;
top: 336px;
left: 944px;
}

.credenciais2 {
position: absolute;
width: 123px;
height: 20px;
top: 359px;
left: 492px;
}

.superiorsim {
position: absolute;
width: 45px;
height: 20px;
top: 456px;
left: 301px;
}

.superiornao {
position: absolute;
width: 45px;
height: 20px;
top: 456px;
left: 378px;
}

.visualizarsim {
position: absolute;
width: 45px;
height: 20px;
top: 575.5px;
left: 301px;
}

/* joseph bianchi */
.auxlab {
position: absolute;
width: 240px;
height: 20px;
top: 498px;
left: 712px;
}

.cobaiaaux {
position: absolute;
width: 162.5px;
height: 21px;
top: 521.5px;
left: 712px;
}

.pesquisador-alfa2 {
position: absolute;
width: 240px;
height: 21px;
top: 546px;
left: 712px;
}

.pkia {
position: absolute;
width: 56px;
height: 20.5px;
top: 570px;
left: 703px;
}

.pkia2 {
position: absolute;
width: 56px;
height: 20.5px;
top: 364px;
left: 376.5px;
}

/* aux lab */

.experimentos4 {
position: absolute;
width: 132px;
height: 20px;
top: 487px;
left: 454px;
}

.alas2 {
position: absolute;
width: 56px;
height: 20.5px;
top: 510.5px;
left: 424.5px;
}

/* cobaia aux */
.alas3 {
position: absolute;
width: 56px;
height: 20.5px;
top: 586.5px;
left: 431.5px;
}

/* credenciais */
.pkia4 {
position: absolute;
width: 56px;
height: 20.5px;
top: 483px;
left: 606px;
}

.dhe {
position: absolute;
width: 96px;
height: 20.5px;
top: 306px;
left: 760px;
}

/* dhe */
.apollosim {
position: absolute;
width: 45px;
height: 20px;
top: 576.5px;
left: 290px;
}

.apollonao {
position: absolute;
width: 45px;
height: 20px;
top: 576.5px;
left: 367px;
}

/* apollo sim */
.menu {
position: absolute;
width: 57px;
height: 20px;
top: 552px;
left: 491px;
}

/* pesquisador alfa */
.experimentos {
position: absolute;
width: 132px;
height: 20px;
top: 445px;
left: 411px;
}

.experimentos2 {
position: absolute;
width: 132px;
height: 20px;
top: 469px;
left: 372px;
}

.experimentos3 {
position: absolute;
width: 132px;
height: 20px;
top: 493px;
left: 440px;
}

.alas {
position: absolute;
width: 56px;
height: 20.5px;
top: 517px;
left: 410px;
}

/* arquivos */
  /* sumario 25-26 */

.sumario26 {
position: absolute;
width: 283px;
height: 21px;
top: 402px;
left: 325px;
}

.sumario25 {
position: absolute;
width: 283px;
height: 21px;
top: 427px;
left: 325px;
}

  /* rebelião */
.hijikata {
position: absolute;
width: 90px;
height: 20px;
top: 499px;
left: 325px;
}

.damas {
position: absolute;
width: 90px;
height: 20px;
top: 523px;
left: 325px;
}

.estranho {
position: absolute;
width: 90px;
height: 20px;
top: 547px;
left: 325px;
}

.bitso {
position: absolute;
width: 90px;
height: 20px;
top: 571px;
left: 325px;
}

.cliff {
position: absolute;
width: 90px;
height: 20px;
top: 596px;
left: 325px;
}

  /* wilhelm */
.carta {
position: absolute;
width: 91px;
height: 20px;
top: 331px;
left: 787px;
}

  /* redenção */
.decelys {
position: absolute;
width: 170px;
height: 20px;
top: 427px;
left: 787px;
}